img, /Image1 {
    width: 324px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 12px;
    padding: 12px;
    justify-content: space-around;
    background-color: yellow;
}
